## Visual Studio / .NET Framework
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.pdb
*.nlp

## Logs and Temp
*.log
*.tmp
App_Data/
Uploads/Books/*
!Uploads/Books/.gitkeep
Uploads/Students/*
!Uploads/Students/.gitkeep
