<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryDBConnectionString" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LibraryDB;Integrated Security=True;MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="1048576" executionTimeout="3600" />
    
    <sessionState mode="InProc" timeout="30" cookieless="false" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" />
    
    <customErrors mode="Off">
    </customErrors>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="Dashboard.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
